[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git

[submodule "themes/hugo-natrium-theme"]
	path = themes/hugo-natrium-theme
	url = https://github.com/mobybit/hugo-natrium-theme

[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even.git
